div,
p {
  padding: 0px;
  margin: 0px;
}

input {
  padding: 4px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#content::placeholder {
  font-style: italic;
}

.todo {
  width: 500px;

  #container {
    padding: 4px;
    margin: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.5s;
  }

  #add-child-form {
    display: none;
    border-radius: 4px;
    width: fit-content;
    margin-left: 32px;
    padding: 4px;

    input {
      width: 350px;
      outline: none;
      border: none;
    }
    ::placeholder {
      font-style: italic;
    }
  }
  #add-child-form.active,
  #add-child-form.focused {
    display: block;
  }

  #add-child-form:focus-within {
    border: 1px gray solid;
  }

  #childs {
    margin-left: 24px;
  }

  #container:hover {
    background-color: #8d8d8d;
  }
}

.done {
  text-decoration: line-through;
  color: gray;
}
